services:
  app:
    build: .
    ports:
      - "4002:4002"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./data.json:/app/data.json
      - ./users.json:/app/users.json
